<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.jogijotae">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jogijotae"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jogijotae_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".Search_activity"></activity>
        <activity android:name=".Category_Gps_Res" />
        <activity android:name=".Interest_restarant" />
        <activity android:name=".Category_Gps_Place" />
        <activity android:name=".Category_GPS_detail" />
        <activity android:name=".FirstMain" />
        <activity android:name=".Category_detail_more" />
        <activity android:name=".Interest_place" />
        <activity android:name=".Category_detail" />
        <activity android:name=".Place_detail" />
        <activity android:name=".Interestmain" />
        <activity android:name=".Categorymain" />
        <activity android:name=".Restaurantmain" />
        <activity android:name=".Placemain" />
        <activity android:name=".MainActivity" />
        <activity android:name=".User_interest_app" />
        <activity android:name=".User_interest" />
        <activity android:name=".password_reset" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Userinformation" />
    </application>

</manifest>